.black-subheading
{
color:#868283;
}

h3.black.heading-linkedcompanies {
    font-size: 20px;
    color: #717072;
    margin-bottom: 0px;
   
}
.account-management-tabs.linked-companies
{
    float: left;
    margin-left: 6px;
    margin-bottom: 11px;
    margin-top: 13px;
}
h3.black.linked-companies
{
    margin-bottom: 0px;
    color: #72717e;
	font-size:18px;
}

.container-fluid.linkedcompanies-border
{
    border-style: solid;
    border-color: #bce0fd;
    border-width: 1px;
}

.account-management-tabs.linked-companies-right
{
    margin-right: -20px;
}

.account-management-form-inputs.linked-companies {
    margin-top: 10px;
}


a.btn.btn-default.btn-sm.account-management-searchbutton.linked-companies
{
    margin-left: -19px;
    margin-top: 29px;
    margin-bottom: 0px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.account-management-form-inputs.linkecompanies-subcontent
{
    margin-left:28px;
    margin-top: 20px;
}

.account-management-form-inputs.linkedcompanies-subcontent
{
    margin-left:13px;
}
.search-icon-linked-companies
{
background: url("../images/search-icon.png") no-repeat;

height: 21px;
width: 27px;
overflow: hidden;
background-size: 23px;
margin-top: -42px;
margin-right: 13px;
float: right;
cursor: pointer;
position: relative;
z-index: 2;
}
input#companyname {
    box-shadow: inset 0 0px 2px #2699fb;
    width: 100%;
    height: 34px;
    font-size: 14px;
    background-color: #fff;
}

.linked-companies-add-result {
    background-color: #d4f8cd;
    height: 40px;
    padding: 10px;
    margin-left: 29px;
}
button#addLinkedCompanies
{
position: relative;
    top: 23px;
    padding-bottom: 9px;
    background-color: #24d19e;
    color: white;
}
.icon-delete-linkedcompanies
{
margin-bottom: -41px;
position: relative;
top: -19px;
}
.linked-companies
{
.account-management-total-result
{
      margin-top: 16px;
    margin-left: 29px;
    margin-right: 0px;
}
.datagrid table thead tr th
{
    width: 16%;
}
}

